# enviroments 
frontend/.env
backend/.env

#node modules 
frontend/node_modules
backend/node_modules

#DB
backend/.env
backend/node_modules/
backend/pg-db/data
backend/redis-db/
backend/dist/
#devops : En teoria debería sacar kubernetes del repositorio, investigar y ver como brindar la seguridad correspondiente.

